{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<div >
  <h1 class="h1style" >Самые ожидаемые события</h1>
</div>
  {% if expected_events_list %}
<div class="div_expected_cards">
  {% for a in expected_events_list %}
  <div class="div_main_card1">
      <div class="main_card_img">
        <div class="card_img">
          {% with a.images_set.all.0 as ph1%}
            <img src="{{ph1.image.url}}" alt="">
          {% endwith %}
        </div>
        <div class="main_card_div_action">
          <div class="main_card_div_action_price">
          <span class="">
            {{a.ticket_set.all.0.price}}
            <!-- 1200 -->
            &#8381;</span>
          </div>
          <div class="main_card_div_action_buy">
          <a href="{% url 'event-detail' a.id %}" class="main_card_btn_buy">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="main_card_name">
        <a class="name_links" href="{% url 'event-detail' a.id %}">{{a.name}}</a>
      </div>
      <div class="main_card_date_place">
        <a class="main_card_date_place_links" href="#">{{a.date}}, {{a.city}}</a>
      </div>
  </div>
  {% endfor %}
</div>
{% else %}
  {% endif %}

<div>
<h1 class="h1style"> Ближайшие события в г.Иркутск</h1>
</div>
<section class="section_filter">
<div class="main_filter">
    <div class="event_type_div">
      <form method="GET" action="">
        <select class="event_type_filter"  >
          <option>Концерты</option>
          <option>Мастер-классы</option>
          <option>Спорт</option>
          <option>Театр</option>
          <option>Выставки</option>
      </select>
      </form>    
    </div>
    <div class="age_div">
    <select class="age_filter">
        <option>18+ лет</option>
        <option>14+ лет</option>
        <option>7+ лет</option>
        <option>3+ лет</option>
    </select>
    </div>
    <div class="date_picker_div">
    <input class="date_picker" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />  
    <script src="{% static 'js/script.js' %}"></script>         
    </div>
</div>
</section>
<section>
    <div class="main_cards_mrg">
    {% if latest_events_list %}
    <div class="main_cards" id="main_cards">
    {% include 'events/event_mainpage.html' %}
    </div>            
    {% endif %}
    </div>
    <!-- {% include 'pagination.html' %} -->
</section>    
{% endblock %}
{% block js %}
{{ block.super }}
<script src={% static "el-pagination/js/el-pagination.js" %}></script>
<script type="text/javascript" src={% static "js/script.js" %}></script>
<script>$.endlessPaginate();</script>
{% endblock %}
