{% extends 'base.html' %}
{% load static %}
{% block title %}Отчет{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url 'myevents' %}" class="bread_active">Мои мероприятия</a></li>
<li><a href="{% url 'event-creator-detail' event.id %}" class="bread_active">{{event.name}}</a></li>
<li><a href="" class="bread_current">Отчет</a></li>
{% endblock %}
{% block content %}
<h1>Отчет о мероприятии: {{event.name}}</h1>
<div class="report_container">
    <div class="report_card">
        <h2>Статус</h2>
        {% if event.date > cur_date %}        
        <span class="event_green">Предстоит</span>
        {% else %}
        <span class="event_red">Прошло</span>
        {% endif %}
    </div>
    <div class="report_card">
        <h2>Прибыль</h2>
        <span>{{all_profit}} &#x20bd;</span>
    </div>
    <div class="report_card">
        <h2>Билеты</h2>
        <span>Всего: {{all_tickets}}</span>
        <span>Осталось: {{all_tickets_left}}</span>
    </div>
    <!-- <div class="report_card">
        <h2>Возвраты</h2>
        <span>Возвращено билетов: {{ticket_returned}}</span>
    </div> -->
</div>
{% endblock %}